In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [14]:
# import the dataset
dirty_df = pd.read_csv("data/APC_spend_2013_forThinkful.csv", encoding="latin-1")

In [15]:
dirty_df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [16]:
dirty_df.shape

(2127, 5)

In [17]:
dirty_df.describe()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
count,1928,2127,2126,2127,2127
unique,1880,299,984,2126,1402
top,-,Elsevier,PLoS One,"Exclusive breastfeeding, diarrhoel morbidity a...",£2040.00
freq,7,387,92,2,94

In [18]:
# check for duplicates
df = df.drop_duplicates()

In [32]:
publishers = df["Publisher"]

In [35]:
publishers.to_csv("publishers.csv", index=False)

In [37]:
df["Journal title"].to_csv("journals.csv", index=False)

In [65]:
def clean_sentence(sentence):
    if pd.isna(sentence):
        return sentence
    sentence = sentence.replace("&", " and ")
    sentence = sentence.replace(",", " ")
    sentence = sentence.replace(":", " ")
    sentence = sentence.replace(";", " ")
    sentence = sentence.replace(".", " ")
    sentence = sentence.replace("-", " ")
    sentence = sentence.replace("\n\r", "")
    sentence = sentence.replace("\n", "")
    # since online & print are common, just remove them
    sentence = sentence.replace("online", "")
    sentence = sentence.replace("print", "")
    sentence = sentence.replace("  ", " ")
    sentence = sentence.lower()
    return sentence

In [66]:
clean_data = df.copy()
clean_data["Journal title"] = df["Journal title"].apply(lambda x: clean_sentence(x))

In [67]:
x = clean_data["Journal title"].value_counts()
x.to_csv("test.csv")