In [1]:
import pandas as pd
import numpy as np
import locale
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv("data/nyc crime.csv")

In [3]:
df.head(12)

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Adams Village,"1,861",0,0,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,"2,577",3,0,0,0,3,24,3,20,1,0.0
2,Akron Village,"2,846",3,0,0,0,3,16,1,15,0,0.0
3,Albany,"97,956",791,8,30,227,526,"4,090",705,"3,243",142,NaN
4,Albion Village,"6,388",23,0,3,4,16,223,53,165,5,NaN
5,Alfred Village,"4,089",5,0,0,3,2,46,10,36,0,NaN
6,Allegany Village,"1,781",3,0,0,0,3,10,0,10,0,0.0
7,Amherst Town,"118,296",107,1,7,31,68,"2,118",204,"1,882",32,3.0
8,Amityville Village,"9,519",9,0,2,4,3,210,16,188,6,1.0
9,Amsterdam,"18,182",30,0,0,12,18,405,99,291,15,0.0
10,Arcade Village,"2,053",0,0,0,0,0,39,3,35,1,0.0
11,Ardsley Village,"4,523",5,0,0,3,2,33,4,28,1,0.0

Create our linear model that follows the following equation:

$$ Property crime = \alpha + Population + Population^2 + Murder + Robbery$$

In [4]:
# convert all the numbers to ints or floats
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')

'en_US.UTF-8'

In [5]:
df["Population"] = df["Population"].apply(lambda population: locale.atoi(population))
# df["Murder and nonnegligent manslaughter"] = df["Murder and nonnegligent manslaughter"].apply(lambda murder: locale.atoi(murder))
df["Property crime"] = df["Property crime"].apply(lambda crime: locale.atoi(crime))
df["Robbery"] = df["Robbery"].apply(lambda value: locale.atoi(value))

In [6]:
df

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Adams Village,1861,0,0,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1,0.0
2,Akron Village,2846,3,0,0,0,3,16,1,15,0,0.0
3,Albany,97956,791,8,30,227,526,4090,705,"3,243",142,NaN
4,Albion Village,6388,23,0,3,4,16,223,53,165,5,NaN
5,Alfred Village,4089,5,0,0,3,2,46,10,36,0,NaN
6,Allegany Village,1781,3,0,0,0,3,10,0,10,0,0.0
7,Amherst Town,118296,107,1,7,31,68,2118,204,"1,882",32,3.0
8,Amityville Village,9519,9,0,2,4,3,210,16,188,6,1.0
9,Amsterdam,18182,30,0,0,12,18,405,99,291,15,0.0
10,Arcade Village,2053,0,0,0,0,0,39,3,35,1,0.0
11,Ardsley Village,4523,5,0,0,3,2,33,4,28,1,0.0
12,Asharoken Village,658,0,0,0,0,0,2,0,2,0,0.0
13,Attica Village,2522,2,0,0,0,2,5,0,4,1,0.0
14,Auburn,27270,96,1,20,22,53,859,132,721,6,NaN
15,Avon Village,3333,1,0,0,1,0,25,3,20,2,NaN
16,Baldwinsville Village,7473,5,0,0,1,4,88,10,77,1,0.0
17,Ballston Spa Village,5418,8,0,0,3,5,94,16,78,0,1.0
18,Batavia,15374,57,0,7,13,37,559,103,454,2,NaN
19,Bath Village,5733,15,0,1,3,11,191,32,157,2,2.0
20,Bedford Town,17627,5,0,0,1,4,156,26,127,3,NaN
21,Bethlehem Town,34243,13,0,0,3,10,442,50,388,4,NaN
22,Binghamton,46304,284,3,19,101,161,2349,525,"1,767",57,NaN
23,Black River,1410,0,0,0,0,0,14,2,12,0,0.0
24,Blooming Grove Town,12001,8,0,1,0,7,99,20,72,7,NaN
25,Bolivar Village,1022,1,0,0,0,1,4,2,2,0,0.0
26,Bolton Town,2325,2,0,0,0,2,24,4,20,0,0.0
27,Boonville Village,2054,1,0,0,0,1,20,6,14,0,0.0
28,Brant Town,2065,4,0,0,1,3,31,9,20,2,0.0
29,Brewster,2358,0,0,0,0,0,13,3,10,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
318,Tupper Lake Village,3642,3,0,0,0,3,83,22,59,2,NaN
319,Tuxedo Park Village,615,0,0,0,0,0,0,0,0,0,0.0
320,Ulster Town,12195,14,0,3,2,9,437,25,410,2,NaN
321,Utica,61686,361,7,27,102,225,2528,449,"1,997",82,NaN
322,Vestal Town,27980,16,0,2,6,8,571,39,523,9,NaN
323,Walden Village,6887,18,1,2,1,14,142,13,124,5,NaN
324,Wallkill Town,27940,40,0,3,16,21,767,91,650,26,1.0
325,Walton Village,3012,6,0,1,0,5,68,18,50,0,NaN
326,Warsaw Village,3453,6,0,1,0,5,78,5,73,0,0.0
327,Washingtonville Village,5828,2,0,0,1,1,58,5,51,2,0.0
328,Waterford Town and Village,8392,4,0,0,0,4,59,6,52,1,0.0
329,Waterloo Village,5175,11,0,0,3,8,194,23,169,2,NaN
330,Watertown,28179,109,0,12,16,81,1165,169,953,43,NaN
331,Watervliet,10245,26,1,3,11,11,242,58,163,21,NaN
332,Watkins Glen Village,1862,6,0,0,0,6,92,10,80,2,NaN
333,Waverly Village,4337,5,0,0,1,4,54,9,41,4,NaN
334,Webster Town and Village,43777,21,0,2,3,16,469,101,361,7,NaN
335,Weedsport Village,1797,0,0,0,0,0,25,5,20,0,0.0
336,Wellsville Village,4574,11,0,1,0,10,164,32,129,3,1.0
337,Westhampton Beach Village,1732,2,0,0,0,2,44,4,37,3,0.0
338,West Seneca Town,44821,35,1,1,9,24,896,166,710,20,0.0
339,Whitehall Village,2604,6,0,0,0,6,62,12,49,1,NaN
340,White Plains,57559,78,1,3,28,46,1232,77,"1,134",21,NaN
341,Whitesboro Village,3733,4,0,0,0,4,36,14,21,1,0.0
342,Whitestown Town,9141,0,0,0,0,0,77,13,61,3,0.0
343,Woodbury Town,10685,3,0,0,2,1,541,9,529,3,NaN
344,Woodridge Village,829,7,0,0,0,7,17,8,9,0,0.0
345,Woodstock Town,5931,2,0,0,0,2,58,13,45,0,NaN
346,Yonkers,199134,"1,036",6,25,390,615,2368,470,"1,662",236,10.0
347,Yorktown Town,36643,15,0,0,2,13,334,45,287,2,NaN

In [7]:
df["Population^2"] = df["Population"].apply(lambda value: value**2)

In [8]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,Population^2
0,Adams Village,1861,0,0,0,0,0,12,2,10,0,0.0,3463321
1,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1,0.0,6640929
2,Akron Village,2846,3,0,0,0,3,16,1,15,0,0.0,8099716
3,Albany,97956,791,8,30,227,526,4090,705,"3,243",142,NaN,9595377936
4,Albion Village,6388,23,0,3,4,16,223,53,165,5,NaN,40806544

In [11]:
features = df[["Population", "Population^2", "Murder and nonnegligent manslaughter", "Robbery"]]
target = df["Property crime"]

In [12]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.25, random_state=20)

In [17]:
model = LinearRegression()

model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [21]:
predictions = model.predict(X_test)

In [24]:
predictions

array([ 2.64783570e+01,  2.60586893e+02,  9.56425615e+01,  6.24334342e+01,
        1.46111175e+03,  1.52944163e+02,  5.65736947e+02,  1.71274293e+02,
        2.12890034e+02,  3.88303222e+01,  1.16000687e+02,  3.46793438e+02,
        4.08315227e+01,  2.28206151e+01,  8.28309364e+01,  5.37988890e+03,
        3.21741701e+02,  5.65835107e+01,  4.58618971e+02,  1.04678366e+02,
        7.26922579e+01,  5.97498029e+02,  1.63993508e+01,  1.65964005e+01,
        1.75023575e+02,  4.74407925e+01,  7.37683668e+01,  1.18095069e+02,
        6.57850226e+02,  3.37390165e+02,  1.62064373e+02,  1.33354638e+03,
        2.40771323e+02,  1.99289098e+02,  6.50052000e+01,  2.85027487e+03,
        4.34246471e+02,  1.68342585e+02,  5.50163840e+02,  3.71795212e+01,
        1.56156591e+02,  3.64989249e+02,  2.71021959e+01,  1.41651944e+02,
        4.74092881e+02,  5.52588303e+01,  2.91545499e+02,  3.68803422e+01,
        3.90643501e+01,  1.27836345e+02,  5.42332157e+02,  1.46637903e+02,
        5.84195651e+01,  2.70843745e+01,  2.82665970e+02,  4.02827186e+01,
        3.88168303e+02,  3.37371547e+02,  4.44922844e+01,  7.45884824e+01,
        4.84109079e+01,  2.15866610e+02,  1.95217664e+02,  1.07124548e+02,
        8.29868799e+01,  1.09570357e+02, -5.18065442e+06,  1.24525657e+03,
        5.68965700e+02,  1.35489838e+01,  3.59223901e+01,  1.13452324e+03,
        3.00252701e+02,  1.43562883e+02,  1.84848605e+02,  2.95177706e+02,
        2.51765938e+01,  1.28219964e+02,  8.27518770e+01,  1.32719531e+02,
        1.34234055e+01,  5.41971339e+02,  8.80568218e+01,  2.73452832e+02,
        1.40156915e+02,  2.88479305e+01,  9.86206861e+01])

In [22]:
model.coef_

array([ 1.81110199e-02, -7.78128531e-08,  8.59971849e+01,  6.46281926e+00])

In [23]:
model.intercept_

-6.350742698679198