In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
plane_data = pd.read_csv("data/plane_crashes_data.csv")

In [4]:
plane_data.head()

,month,hour,year,location,operator,route,type,aboard,fatalities,summary
0,1,12,1950,"Near Vacas, Bolivia",Military - Bolivian Air Force,Valle grande - Cochabamba,Douglas C-47,32,32,Crashed while en route in the Andes mountains ...
1,3,20,1950,"Minneapolis, Minnesota",Northwest Orient Airlines,Rochester Minn. - Minneapolis,Martin 202,13,13,"Crashed into a flag pole, well marked by red n..."
2,3,14,1950,"Llandow Airport, Cardiff, Wales",Fairflight Ltd.,Llandow - Dublin,Avro 689 Tudor 5,83,80,During the approach to Runway 28 at Llandow Ai...
3,4,23,1950,"Near Atsugi, Japan",Military - U.S. Air Force,Philippines - Japan,Douglas C-54D,35,35,Flew off its prescribed course and crashed int...
4,5,20,1950,"Lagens Air Force Base, Azores",Military - U.S. Air Force,Bermuda - England,Boeing B-29,16,16,Crashed while attempting to land after being d...

In [5]:
plane_data.describe()

             month         year       aboard   fatalities
count  2709.000000  2709.000000  2709.000000  2709.000000
mean      6.554079  1981.927279    35.817276    25.816537
std       3.532468    16.709136    54.306779    42.599461
min       1.000000  1950.000000     0.000000     0.000000
25%       3.000000  1968.000000     5.000000     3.000000
50%       7.000000  1983.000000    15.000000     9.000000
75%      10.000000  1997.000000    44.000000    29.000000
max      12.000000  2009.000000   644.000000   583.000000

In [8]:
first_range = plane_data.loc[(plane_data["year"] >= 1980) & (plane_data["year"] <= 2009)]

In [11]:
first_range.fatalities.mean()

24.932607215793055

In [12]:
second_range = plane_data.loc[(plane_data["year"] >= 1950) & (plane_data["year"] <= 2009)]

In [29]:
fatalities_count = second_range.groupby("month").fatalities.count()
fatalities_count

month
1     255
2     209
3     251
4     204
5     181
6     202
7     234
8     239
9     228
10    224
11    230
12    252
Name: fatalities, dtype: int64

In [32]:
fatalities_list = second_range.fatalities.tolist()

max(fatalities_list)

583

In [33]:
one_or_more_death = plane_data.loc[plane_data["fatalities"] >= 1]

In [34]:
percentage_of_more_than_one_death = len(one_or_more_death) / len(plane_data)

In [35]:
percentage_of_more_than_one_death * 100

98.19121447028424

In [36]:
percent_passengers_dead = plane_data["fatalities"] / plane_data["aboard"]

In [38]:
percent_passengers_dead.mean()

0.8231319223510563